{% extends 'base.html' %}
{% block structured %}
<script type="application/ld+json">
	    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "Cobblestone power bank",
      "image": [
        "https://www.chinagoodgifts.com/image/product/2020-11/PB-0001.jpg",
        "https://www.chinagoodgifts.com/image/public/2020-11/%E9%B9%85%E5%8D%B5%E7%9F%B3%20(4).jpg",
        "https://www.chinagoodgifts.com/image/public/2020-11/%E9%B9%85%E5%8D%B5%E7%9F%B3%20(13).jpg"
       ],
      "description": "The uniquely designed mobile power supply and matte textured surface set off the product's grade, large capacity, and multiple interfaces.",
      "sku": "FB-0001",
      "offers": {
        "@type": "Offer",
        "url": "https://chinagoodgifts.com/product/5",
        "priceCurrency": "USD",
        "price": "49.99",
        "priceValidUntil": "2021-6-1",
        "availability": "https://schema.org/PreOrder"
      }
    }
</script>
{% endblock %}
{% load image %}
{% block title %}
	{{ product_detail.seo_title }}
{% endblock %}
{% block meta %}
  <meta name="description" content="{{ product_detail.seo_desc }}">
{% endblock %}
{% block content %}
	<p></p>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ product_detail.pro_number }}</li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-sm-12 col-md-6">
			<div class="col">
				<img src="" alt="" class="img-big img-fluid">
			</div>
				<div class="row">
					{% for p_image in product_detail.pro_image.iterator %}
					<div class="col-3 px-1 pb-1">
						<img class="img-fluid img-thumbnail img-small" src="{% image base_url p_image.path %}" alt="{{ product_detail.seo_title }}">
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
{#      <p class="detail-title d-md-none d-xl-none">detail-title</p>#}
				<div class="pro-title bg-light">
					<h4>Product Detail</h4>
				</div>
				<ul class="list-group list-group-flush ">
					<li class="list-group-item"><strong class="float-left">Type:</strong><span class="float-right">{{ product_detail.sub_type.category }}</span></li>
					<li class="list-group-item"><strong class="float-left">Name:</strong>&nbsp;<span class="float-right">{{ product_detail.pro_name }}</span></li>
					<li class="list-group-item"><strong class="float-left">Material:</strong>&nbsp;<span class="float-right">{{ product_detail.material }}</span></li>
					<li class="list-group-item"><strong class="float-left">Item Size(inch):</strong>&nbsp;<span class="float-right">{{ product_detail.pro_size }}</span></li>
					<li class="list-group-item"><strong class="float-left">Weight(g):</strong>&nbsp;<span class="float-right">{{ product_detail.pro_weight }}</span></li>
					<li class="list-group-item"><strong class="float-left">Capacities:</strong>&nbsp;<span class="float-right">{{ product_detail.capacities }}</span></li>
					<li class="list-group-item"><strong class="float-left">StandardPack:</strong>&nbsp;<span class="float-right">{{ product_detail.pro_pack }}</span></li>
					<li class="list-group-item"><strong class="float-left">MOQ:</strong>&nbsp;<span class="float-right">{{ product_detail.moq }}</span></li>
					<li class="list-group-item"><strong class="float-left">Imprint Size:</strong>&nbsp;<span class="float-right">{{ product_detail.imprint_size }}</span></li>
					<li class="list-group-item"><strong class="float-left">Imprint Location:</strong>&nbsp;<span class="float-right">{{ product_detail.imprint_location }}</span></li>
					<li class="list-group-item"><strong class="float-left">Imprint Methods:</strong>&nbsp;<span class="float-right">{{ product_detail.imprint_methods }}</span></li>
					<li class="list-group-item">
						<strong class="float-left">Color:</strong>&nbsp;
						{% for color in color_list %}
						<button type="button" style="background-color: {{ color }}" class="btn pro-color float-right"></button>
					{% endfor %}
					</li>
        <li class="list-group-item"><strong>Price:</strong>&nbsp;<button type="button" class="btn btn-primary btn-sm float-right" id="product-list-contact-btn"
								data-target="#product-list-contact-modal" data-toggle="modal"
								data-whatever="{{ web_base_url }}product/{{ product_detail.id }}">contact us
				</button></li>
				<li class="list-group-item"><strong>Packaging Reference:</strong>
				<div class="d-flex flex-row">
					{% for i in packs_image %}
            <img src="{% image base_url i.path %}" alt="{{ i.image_alt }}" style="width: 25%; cursor:pointer" class="pack-image" data-toggle="modal" data-target="#exampleModal">
					{% endfor %}
				</div>
				</li>
				</ul>
			</div>
		</div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <img src="" alt="" class="modal-image rounded mx-auto d-block img-fluid">
      </div>
    </div>
  </div>
</div>
		<p></p>
{#	product_detail description custom prompt others#}
  <h1 class="text-center font-weight-bolder">{{ product_detail.pro_name }}</h1>
		<div>
      <h2 style="background-color: #039DF7;color:#F5F503">Description</h2>
      <ul>
        {% for desc in description %}
          <li>{{ desc }}</li>
        {% endfor %}
      </ul>
      <h2 style="background-color: #039DF7;color:#F5F503">Custom</h2>
          <ul>
        {% for cus in custom %}
          <li>{{ cus }}</li>
        {% endfor %}
      </ul>
      <h2 style="background-color: #039DF7;color:#F5F503">Prompt</h2>
          <ul>
        {% for prom in prompt %}
          <li>{{ prom }}</li>
        {% endfor %}
      </ul>
		</div>
    <div class="ship-instructions">
    <h2 style="background-color: #039DF7;color:#F5F503">Shipping instructions</h2>
    <ul>
      <li>Products are shipped from our Chinese factory, please choose the appropriate shipping method according to your timeliness requirements</li>
      <li>We will choose DHL, UPS, FEDEX and other internationally renowned express companies, and the freight price will vary with each express company</li>
      <li>You can also appoint a courier company and use your own courier account</li>
    </ul>
  </div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="product-list-contact-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					{% include 'webapi/contact.html' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block style %}
	<style>
      .product-tab td {
          padding-bottom: 0.5em;
          padding-right: 0.5em;
          font-size: 1em;
      }
			.pro-color{
					height: 2em;
					width: 2em;
			}
      .list-group-item{
          padding-bottom: 0;
          padding-top: 2px;
      }
	</style>
{% endblock %}
{% block script %}
	<script>
      $(function () {
          init();
          {#打开页面显示第一张图片#}
          function init() {
              const imgSmall = $('.img-small')
              const imgLength = imgSmall.length
							const imgBig = $('.img-big')
              if (imgLength > 0){
								imgBig.attr('src', $(imgSmall[0]).attr('src'))
								imgBig.attr('alt', $(imgSmall[0]).attr('alt'))
							}
          }
          $('#product-list-contact-modal').on('show.bs.modal', function (event) {
              const button = $(event.relatedTarget) // Button that triggered the modal
              const recipient = button.data('whatever') // Extract info from data-* attributes
              $("#sendMailForm").submit(function () {
                  const title = $("#sendMailFormTitle:input").val() + '|' + recipient
                  const name = $("#sendMailFormName:input").val()
                  const email = $("#sendMailFormEmail1:input").val()
                  const desc = $("#sendMailFormText").val()
                  $.ajax({
                      url: "/send_mail/",
                      type: "GET",
                      data: {title: title, name: name, email: email, desc: desc},
                      success: function (data) {
                          alert('Thank you')
                      },
                      statusCode: {
                          '429': function () {
                              alert('Please do not submit again. Wait for 1 minute and try again')
                          },
                          '500': function () {
                              alert('Failed to send,Please try again!')
                          }
                      }
                  })
                  return false;
              })
          })
          $('.carousel-item:first').addClass('active')
					{#点击变换图片#}
					$('.img-small').click(function(){
              const smallImagSrc = $(this).attr('src')
							const smallImagAlt = $(this).attr('alt')
							$('.img-big').attr('src', smallImagSrc)
							$('.img-big').attr('alt', smallImagAlt)
          })
          $('.pack-image').click(function(){
              $('.modal-image').attr('src', $(this).attr('src'))
          })
      })
	</script>
{% endblock %}