{% extends 'base.html' %}
{% load image %}
{% block title %}
	{{ product_detail.seo_title }}
{% endblock %}
{% block content %}
	<p></p>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ product_detail.pro_number }}</li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				{#      <img src="{% image base_url product_detail.pro_image.last.path %}" class="img-fluid img-thumbnail"#}
				{#           alt="{{ product_detail.seo_title }}" height="100px">#}
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						{% for p_iamge in product_detail.pro_image.iterator %}
							<div class="carousel-item">
								<img src="{% image base_url p_iamge.path %}" class="img-fluid" alt="{{ product_detail.seo_title }}">
							</div>
						{% endfor %}
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="pro-title bg-light">
					<p>Product Detail</p>
				</div>
				<ul style="font-size:1em" class="list-group">
					<li class="list-group-item"><strong>Type:</strong>&nbsp;{{ product_detail.sub_type }}</li>
					<li class="list-group-item"><strong>Name:</strong>&nbsp;{{ product_detail.pro_name }}</li>
					<li class="list-group-item"><strong>Size:</strong>&nbsp;{{ product_detail.pro_size }}</li>
					<li class="list-group-item"><strong>Weight:</strong>&nbsp;{{ product_detail.pro_weight }}</li>
					<li class="list-group-item"><strong>Pack:</strong>&nbsp;{{ product_detail.pro_pack }}</li>
					<li class="list-group-item"><strong>Proposed price:</strong>&nbsp;{{ product_detail.pro_price }}</li>
					<li class="list-group-item">
						<strong>Color:</strong>&nbsp;
						{% for color in color_list %}
						<button type="button" style="background-color: {{ color }}" class="btn pro-color"></button>
					{% endfor %}
					</li>
				</ul>
				<table class="product-tab">
					<tr>
						<td class="font-weight-bold">Type:</td>
						<td>{{ product_detail.sub_type }}</td>
					</tr>
					<tr>
						<td class="font-weight-bold">Name:</td>
						<td>{{ product_detail.pro_name }}</td>
					</tr>
					<tr>
						<td class="font-weight-bold">Size:</td>
						<td>{{ product_detail.pro_size }}</td>
					</tr>
					<tr>
						<th class="font-weight-bold">Weight:</th>
						<td>{{ product_detail.pro_weight }}g</td>
					</tr>
					<tr>
						<td class="font-weight-bold">Pack:</td>
						<td>{{ product_detail.pro_pack }}</td>
					</tr>
{#					<tr>#}
{#						<td class="font-weight-bold">Proposed price:</td>#}
{#						<td>${{ product_detail.pro_price }}&nbsp; <small>This is the minimum configuration price, please contact us for other prices</small></td>#}
{#					</tr>#}
				</table>
				<button type="button" class="btn btn-primary btn-lg btn-block btn-sm" id="product-list-contact-btn"
								data-target="#product-list-contact-modal" data-toggle="modal"
								data-whatever="{{ web_base_url }}product/{{ product_detail.id }}">contact us
				</button>
			</div>
		</div>
		<p></p>
		<div>
			{{ product_detail.pro_desc | safe }}
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" id="product-list-contact-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					{% include 'webapi/contact.html' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block style %}
	<style>
      .product-tab td {
          padding-bottom: 0.5em;
          padding-right: 0.5em;
          font-size: 1em;
      }
			.pro-color{
					height: 2em;
					width: 2em;
			}
	</style>
{% endblock %}
{% block script %}
	<script>
      $(function () {
          $('#product-list-contact-modal').on('show.bs.modal', function (event) {
              const button = $(event.relatedTarget) // Button that triggered the modal
              const recipient = button.data('whatever') // Extract info from data-* attributes
              $("#sendMailForm").submit(function () {
                  const title = $("#sendMailFormTitle:input").val() + '|' + recipient
                  const name = $("#sendMailFormName:input").val()
                  const email = $("#sendMailFormEmail1:input").val()
                  const desc = $("#sendMailFormText").val()
                  $.ajax({
                      url: "/send_mail/",
                      type: "GET",
                      data: {title: title, name: name, email: email, desc: desc},
                      success: function (data) {
                          alert('Thank you')
                      },
                      statusCode: {
                          '429': function () {
                              alert('Please do not submit again. Wait for 1 minute and try again')
                          },
                          '500': function () {
                              alert('Failed to send,Please try again!')
                          }
                      }
                  })
                  return false;
              })
          })
      })
	</script>
{% endblock %}