<div class="container">
  <hr>
	<div class="w-75 footer">
		<p></p>
		<ul>
			<li>
				<small>Unless otherwise specified, the products displayed by our company are customized products. If your patent
					is
					infringed, please contact us for timely treatment.</small>
			</li>
			<li>
				<small>All products are not supported for retail, and the display price is for reference only.</small></li>
			<li><small>For customized products, please provide design documents or templates.</small></li>
			<li><small>If you have strict color requirements, please provide the color number when you customize the
				product.</small></li>
			<li><small>All your customized products will be shipped from China. We will choose the appropriate shipping mode.
				according to the quantity and characteristics of the goods, or use the shipping mode specified by you.</small>
			</li>
		</ul>
		<hr>
    <ul class="list-inline">
      <li class="list-inline-item"><small>Copyright © 2020 Coteam Inc.</small></li>
{#      <li class="list-inline-item d-lg-block"><a href="{% url 'products' %}">Products</a></li>#}
{#      <li class="list-inline-item d-lg-block"><a href="{% url 'about' %}">About</a></li>#}
      <li class="list-inline-item">{% include 'layout/attention.html' %}</li>
    </ul>
{#		<div class="row">#}
{#			<div class="col-12 col-md-3">#}
{#        <small>Copyright © 2020 Coteam Inc.</small>#}
{#			</div>#}
{#			<div class="col-12 col-md-2">#}
{#				<a href="{% url 'products' %}">Products</a>#}
{#			</div>#}
{#      <div class="col-12 col-md-2">#}
{#				<a href="{% url 'about' %}">About</a>#}
{#			</div>#}
{#			<div class="col-12 col-md-2">#}
{#				<a href="#">Site Map</a>#}
{#			</div>#}
{#			<div class="col-12 col-md-3">#}
{#				{% include 'layout/attention.html' %}#}
{#			</div>#}
		</div>
	</div>
</div>