<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	{#  <a class="navbar-brand" href="{% url 'home_index' %}">LOGO</a>#}
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active d-none d-sm-block">
				<a class="navbar-brand" href="{% url 'home_index' %}">
					{% include 'layout/weblog.html' %}
					{#          <span class="sr-only">(current)</span>#}
				</a>
			</li>
			{#      <li class="nav-item dropdown">#}
			{#        <a class="nav-link dropdown-toggle" href="{% url 'products' %}" id="navbarDropdown" role="button"#}
			{#           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
			{#          Products#}
			{#        </a>#}
			{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
			{#          <a class="dropdown-item" href="{% url 'products' %}">ALL</a>#}
			{#          {% for product_type in product_type_list %}#}
			{#            <a class="dropdown-item"#}
			{#               href="{% url 'product_type' pro_type=product_type.id %}">{{ product_type.category }}</a>#}
			{#          {% endfor %}#}
			{#        </div>#}
			{#      </li>#}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'products' %}">Products</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'about' %}">About</a>
			</li>
		</ul>
		{#    <div class="input-group">#}
		{#      <input type="text" class="form-control" placeholder="search">#}
		{#      <div class="input-group-append">#}
		{#        <button class="btn btn-outline-secondary" type="button" id="button-addon2">#}
		{#          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"#}
		{#               xmlns="http://www.w3.org/2000/svg">#}
		{#            <path fill-rule="evenodd"#}
		{#                  d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>#}
		{#            <path fill-rule="evenodd"#}
		{#                  d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>#}
		{#          </svg>#}
		{#        </button>#}
		{#      </div>#}
		{#    </div>#}
	</div>
</nav>