 <svg version="1.2" baseProfile="tiny" id="图层_1"
               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 105 66"
               xml:space="preserve" height="2rem">
<g>
	<rect x="2.95" y="2.13" fill="#039DF7" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="100"
        height="8.85"></rect>
  <rect x="12.95" y="19.13" fill="#039DF7" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="90"
        height="8.85"></rect>
  <rect x="12.95" y="37.13" fill="#039DF7" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="90"
        height="8.85"></rect>
  <rect x="2.95" y="55.13" fill="#039DF7" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="100"
        height="8.85"></rect>
</g>
            <polygon fill="#F5F503" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="39.94,64.06 46.21,40.33 31.98,40.33
	45.91,2.06 69.64,2.06 55.12,25.78 73.92,25.78 "></polygon>
</svg>